<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Student Name</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<section>
						<header>
						  <h2>Tables</h2>
						</header>
						<table>
							<caption>Table 1</caption>&nbsp;
							<thead>
								<tr>
									<th>Entity 1</th>
									<th>Entity 2</th>
									<th>Entity 3</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">Attributes 1</td>
									<td>Attributes 2</td>
									<td>Attributes 3</td>
								</tr>
								<tr>
									<td colspan="2">Attributes 4</td>
								</tr>
								<tr>
									<td rowspan="2">Attributes 5</td>
									<td>Attributes 6</td>
									<td>Attributes 7</td>
								</tr>
								<tr>
									<td colspan="2">Attributes 8</td>
								</tr>
								<tr>
									<td rowspan="2">Attributes 9</td>
									<td>Attributes 10</td>
									<td>Attributes 11</td>
								</tr>
								<tr>
									<td colspan="2">Attributes 12</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>Footer 1</td>
									<td>Footer 2</td>
									<td>Footer 3</td>
								</tr>
							</tfoot>
						</table>
					
						<!-- Second table -->
						<table>
							<caption>Table 1</caption>&nbsp;
							<thead>
								<tr>
									<th>Entity 1</th>
									<th>Entity 2</th>
									<th>Entity 3</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">Attributes 1</td>
									<td>Attributes 2</td>
									<td>Attributes 3</td>
								</tr>
								<tr>
									<td colspan="2">Attributes 4</td>
								</tr>
								<tr>
									<td rowspan="2">Attributes 5</td>
									<td>Attributes 6</td>
									<td>Attributes 7</td>
								</tr>
								<tr>
									<td colspan="2">Attributes 8</td>
								</tr>
								<tr>
									<td rowspan="2">Attributes 9</td>
									<td>Attributes 10</td>
									<td>Attributes 11</td>
								</tr>
								<tr>
									<td colspan="2">Attributes 12</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>Footer 1</td>
									<td>Footer 2</td>
									<td>Footer 3</td>
								</tr>
							</tfoot>
						</table>
					
				  
						<p>These tables consist of two HTML tables that must contain a minimum of 3 rows and 3 columns and must make use of the following elements / properties:
							caption
							head,tbody,tfoot
							th, td, tr
							the "rowspan" property and the "colspan" property
							</p>
					  </section>

					  <section>
						<h2>List Section</h2>
						<ul>
						  <li>List 1</li>
						  <li>List 2</li>
						  <li>List 3
							<ul>
							  <li>Sub-List 1</li>
							  <li>Sub-List 2</li>
							  <li>Sub-List 3</li>
							</ul>
						  </li>
						  <li>List 4</li>
						  <li>List 5</li>
						</ul>
						<p>It consists of a single list (either unordered or ordered) with a minimum of 5 items, at least one of these items contains a list that is a different type than the parent list. That means if the parent is an ordered list, then one of the items contain an unordered list, and vice versa with at least 3 items.</p>
					</section>
					  <section>
						<h2>Images</h2>
						<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder_in_halfpipe">
						<p></p>
						<img src="http://t0.gstatic.com/licensed-image?q=tbn:ANd9GcRiULU6xp8Ls7qSNmipLUuaC9BMdy_8j_vvz6KfXTpoaRusojsRb0x2hBNdmeZrCwPzuNflBFvgz1a2yrk" alt="Cristano Ronaldo">
						<p></p>
						<img src="https://images.theconversation.com/files/394/original/See_Explanation._Clicking_on_the_picture_will_download_the_highest_resolution_version_available.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="Universe">
					  </section>
					  <p>This is photo section. Here you can se three different size photos</p>
					  <section>
						<h2>Audio</h2>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
						</audio>
						<p>This is audio section. You can click play button to listen to the audio. The audio time is 27 seconds</p>
					  </section>
					  <section>
						<h2>Video</h2>
						<video controls>
						  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
						</video>
						<p>This is video section, You can click play button to watch to the video.The video time is 30 seconds</p>
					  </section>

				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>